/build/Historical Var Calculator/Analysis-00.toc
/build/Historical Var Calculator/base_library.zip
/build/Historical Var Calculator/EXE-00.toc
/dist/Historical Var Calculator.exe
/build/Historical Var Calculator/Historical Var Calculator.exe.manifest
/build/Historical Var Calculator/Historical Var Calculator.pkg
/Historical Var Calculator.spec
/.idea/misc.xml
/.idea/modules.xml
/build/Historical Var Calculator/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/build/Historical Var Calculator/PYZ-00.pyz
/build/Historical Var Calculator/PYZ-00.toc
/statistics.png
/tickers.xlsx
/build/Historical Var Calculator/Tree-00.toc
/build/Historical Var Calculator/Tree-01.toc
/build/Historical Var Calculator/Tree-02.toc
/.idea/Var.iml
/.idea/vcs.xml
/build/Historical Var Calculator/warn-Historical Var Calculator.txt
/.idea/workspace.xml
/build/Historical Var Calculator/xref-Historical Var Calculator.html
/venv/
__pycache__/
*.bak
